<div th:fragment="customer-form">


    <div class="row">
        <div class="col form-group">
            <label for="firstName">First Name</label>
            <input type="text" th:field="*{firstName}" class="form-control" id="firstName" placeholder="firstName">
            <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
        </div>
        <div class="col-8 form-group">
            <label for="lastName">Last Name</label>
            <input type="text" th:field="*{lastName}" class="form-control" id="lastName" placeholder="lastName">
            <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
        </div>
    </div>
    <input class="btn btn-primary float-right" type="submit" value="Save">
</div>