<head th:replace="header::head"></head>
<header th:replace="header::header"></header>

<body class="d-flex flex-column h-100">
<div class="container">
    <h1 class="mt-5">Customers</h1>
    <div th:switch="${customers}">
        <h2 th:case="null">Waiting for new Customers</h2>

        <div th:case="*">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Customer ID</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                </tr>
                </thead>
                <tbody>
                <tr scope="row" th:each="customer : ${customers}">
                    <td><a th:href="@{'/customers/' + ${customer.id}}" th:text="${customer.id}"></a></td>
                    <td th:text="${customer.firstName}"></td>
                    <td th:text="${customer.lastName}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
<footer th:replace="header::footer"></footer>