<head th:replace="header::head"></head>
<header th:replace="header::header"></header>
<body class="d-flex flex-column h-100">
<div class="container">
    <h1 class="mt-5">Add new Customer</h1>
    <form th:action="@{/newCustomer}" th:object="${customerDto}" method="post" xmlns:th="http://www.w3.org/1999/xhtml">
        <div th:replace="customer-form::customer-form"></div>
    </form>
</div>
</body>
<footer th:replace="header::footer"></footer>