<head th:replace="header::head"></head>
<header th:replace="header::header"></header>

<body class="d-flex flex-column h-100">
<div class="container">

    <h3 class="mt-1">Customer Details:</h3>
    <dl class="row">
        <dt class="col-sm-3">First Name:</dt>
        <dd class="col-sm-7" th:text="${customer.firstName}"></dd>
        <dt class="col-sm-3">Last Name:</dt>
        <dd class="col-sm-7" th:text="${customer.lastName}"></dd>
    </dl>


    <div class="float-right">
        <form class="form-inline float right" th:action="@{'/customers/'+${customer.id}}" th:method="delete">
            <div class="btn-group float-right">
                <a th:href="@{'/customers/update/'+${customer.id}}" class="float-right btn btn-outline-info" role="button">Update</a>
                <button class="btn btn-outline-danger" type="submit">Remove</button>
            </div>
        </form>
    </div>
</div>
</body>
<footer th:replace="header::footer"></footer>