<head th:replace="header::head"></head>
<header th:replace="header::header"></header>
<body class="d-flex flex-column h-100">
<div class="container">
    <h1 class="mt-5">Update ad</h1>
    <form method="post" th:action="@{'/customers/update/' + ${customerDto.id}}" th:object="${customerDto}">
        <div th:replace="customer-form::customer-form"></div>
    </form>
</div>
</body>
<footer th:replace="header::footer"></footer>